-#Страница отображает активность для текущего пользователя
-#Cltkfyf c использование PublickActivity
-#прописана в ApplicationController. HomeController и Course.rb

-#Отображение названия статьи в заголовке страницы
- content_for :title do
  Universary
  \|
  Activity

%h3
  .text-center
    Activity
    .badge.badge-info
      = @activities.count
%p
%ul.list-group
  - @activities.each do |activity|
    %li.list-group-item
      = activity.id
      = activity.trackable_type
      = activity.trackable_id
      / ссылка на измененную статью
      -# = link_to activity.trackable, course_lesson_path(activity.trackable.course, activity.trackable)
      = activity.key
      = activity.parameters
      = activity.owner

-#TODO  сделать  табличный вид изменений