- content_for :title do
  University
  \|
  Analytics

%h3
  .text-center
    = action_name.humanize


.card
  %h4.text-center
    Users created
  .card-body
    = line_chart charts_users_per_day_path
  %br
  %h4.text-center
    Enrollment created
  .card-body
    = column_chart charts_enrollments_per_day_path
  %br
  %h4.text-center
    Course popularity
  .card-body
    = bar_chart charts_course_popularity_path

  %br
  %h4.text-center
    Most paid courses
  .card-body
    = bar_chart charts_money_makers_path
