-#Отображение названия статьи в заголовке страницы
- content_for :title do
  Universary
  \|
  Online Courses - Learn Anything, On Your Schedule


.jumbotron
  .display-4
    What do you want to learn today?
  .p-4
    -#.form-inline.my-2.my-lg-0
    / ПОИСК в Jumbotrone
    - if current_user
      = search_form_for @ransack_courses, as: :courses_search, url: courses_path do |f|
        .input-group
          / поиск по Заголовку
          = f.search_field :title_or_short_description_cont, class: 'form-control-sm', style: 'float: left; width: 150 px;', placeholder: 'Find a course', :autocomplete => :off
          %span.input-group-append
            %button.btn.btn-primary.btn-sm{type: 'submit'}
              %span.fa.fa-search{'aria-hidden' => 'true'}

/ вводная информация о количестве курсов и ичеников
.card-group
  .card.card-body
    %h1
      .fa.fa-graduation-cap
    = Course.count
    online courses
    .row
    Explore a variety of fresh topics
  .card.card-body
    %h1
      .fa.fa-chalkboard-teacher
      /.fa.fa-brain
    = Course.distinct.count(:user_id)
    expert instructors
    .row
    Find the right instructor for you
  .card.card-body
    %h1
      .fa.fa-user-graduate
    = User.count
    active learners
    .row
    Join the knowledge sharing community
  .card.card-body
    %h1
      .fa.fa-infinity
    Lifetime access
    .row
    Learn on your schedule







/ отображаем различные списки курсов, переменную @courses задаем в home_controller
%hr
  %h2
    Popular courses
.card-columns
  - @popular.each do |course|
    = render 'courses/course', course: course

%hr
  %h2
    Top rated courses
.card-columns
  - @top_rated.each do |course|
    = render 'courses/course', course: course
%hr
  %h2
    Latest courses
.card-columns
  - @latest.each do |course|
    = render 'courses/course', course: course
%hr
  %h2
    .fa.fa-comment
      What our student have to say
.card-columns
  - @latest_good_reviews.each do |enrollment|
    = render 'enrollments/enrollment', enrollment: enrollment