-#Отображение названия статьи в заголовке страницы
- content_for :title do
  Universary
  \|
  Online Courses - Learn Anything, On Your Schedule


.jumbotron
  .display-4
    What do you want to learn today?
  .p-4
    -#.form-inline.my-2.my-lg-0
    / ПОИСК в Jumbotrone
    - if current_user
      = search_form_for @ransack_courses, as: :courses_search, url: courses_path do |f|
        .input-group
          / поиск по Заголовку
          = f.search_field :title_or_short_description_cont, class: 'form-control-sm', style: 'float: left; width: 150 px;', placeholder: 'Find a course', :autocomplete => :off
          %span.input-group-append
            %button.btn.btn-primary.btn-sm{type: 'submit'}
              %span.fa.fa-search{'aria-hidden' => 'true'}

/ вводная информация о количестве курсов и учеников
.card-group
  .card.card-body
    %h1
      .fa.fa-graduation-cap
    = Course.count
    online courses
    .row
    Explore a variety of fresh topics
  .card.card-body
    %h1
      .fa.fa-chalkboard-teacher
      /.fa.fa-brain
    = Course.distinct.count(:user_id)
    expert instructors
    .row
    Find the right instructor for you
  .card.card-body
    %h1
      .fa.fa-user-graduate
    = User.count
    active learners
    .row
    Join the knowledge sharing community
  .card.card-body
    %h1
      .fa.fa-infinity
    Lifetime access
    .row
    Learn on your schedule


/ отображаем различные списки курсов, переменную @courses задаем в home_controller
%hr
- if current_user
  %h2
    .fa.fa-graduation-cap
    Continue learning
  .card-columns
    - @purchased_courses.each do |course|
      = render 'courses/course', course: course
  .text-right
    = link_to "All my purchased courses ", purchased_courses_path
%hr
%h2
  .fa.fa-chart-line
  Popular courses
.card-columns
  - @popular.each do |course|
    = render 'courses/course', course: course
  .text-right
    -#Перенапряавляем на Список самых попоулярных курсов
    -#для этого в параметрах передаем настройку для raksack: "поле enrollments_count отсортировать" )
    = link_to "More popular courses", courses_path(courses_search: {s: 'enrollments_count desc'})

%hr
%h2
  .fa.fa-star
  Top rated courses
.card-columns
  - @top_rated.each do |course|
    = render 'courses/course', course: course
  .text-right
    -#Перенапряавляем на Список самых Рейтинговых курсов
    -#для этого в параметрах передаем настройку для raksack: "поле average_rating отсортировать" )
    = link_to "More best rated courses", courses_path(courses_search: {s: 'average_rating desc'})
%hr
%h2
  .fa.fa-clock
  Latest courses

.card-columns
  - @latest.each do |course|
    = render 'courses/course', course: course
  .text-right
    -#Перенапряавляем на Список самых новых курсов
    -#для этого в параметрах передаем настройку для raksack: "поле average_rating отсортировать" )
    = link_to "More new courses", courses_path(courses_search: {s: 'created_at desc'})
%hr
%h2
  .fa.fa-comment
    What our student have to say
.card-columns
  - @latest_good_reviews.each do |enrollment|
    = render 'enrollments/enrollment', enrollment: enrollment