.card
  .progress{ style: "width: #{@progress}%; height: 8px;", class: "progress-bar progress-bar-striped progress-bar-animated"}
  .card-header
    %h1
      = wizard_steps.index(step) + 1
      \/
      = wizard_steps.count
      = step.to_s.humanize


  .card-footer
    .float-left
      = link_to  previous_wizard_path, class: 'btn btn-sm btn-info' do
        .fa.fa-arrow-left
          Previous
    .float-right
      = link_to next_wizard_path, class: 'btn btn-sm btn-info' do
        .fa.fa-arrow-right
          Skip

