-#Отображение названия статьи в заголовке страницы
- content_for :title do
  Universary
  \|
  -#чтобы на каждой странице отображать Заголовок под эту страницу
    -#Добавляем имя Экшена и переводим в читаемый формат
  = action_name.humanize
  enrollments

%h3
  .text-center
    -#чтобы на каждой странице отображать Заголовок под эту страницу
    -#Добавляем имя Экшена и переводим в читаемый формат
    = action_name.humanize
    enrollments
    .badge.badge-info
      = @enrollments.count

-#Форма поиска для gem ransack
-#в форму прописали url, чтобы разделить поиски на разных страницах ( для Админа и для Teacher)
-#Чтобы поиск был только по ихним выборкам
= search_form_for @q, url: @ransack_path do |f|
  / метод _eq для чисел - "равен"
  / метод _cont для строк  -  "содержит"
  = f.search_field :user_email_cont, placeholder: "User"
  = f.search_field :course_title_cont, placeholder: "Course"
  = f.search_field :price_eq, placeholder: "Price"
  = f.search_field :rating_eq, placeholder: "Rating"
  = f.search_field :review_cont, placeholder: "Review"
  = f.submit
  -#.кнопка обновления, сделаная как редирект на общую  страницу
  = link_to '', @ransack_path, class: 'btn btn-sm fa fa-sync'
%br
.card
  .card-body
    -#Пагинаци
    != pagy_bootstrap_nav(@pagy)
    .table-responsive
      %table.table.table-bordered.table-striped.table-sm
        %thead
          %tr
            %th ID
            %th
              .fa.fa-user
              = sort_link(@q, :user_email, "User")
            %th
              .fa.fa-clock
              .fa.fa-lock-open
              = sort_link(@q, :created_at)
            %th
              .fa.fa-graduation-cap
              = sort_link(@q, :course_title, "Course")
            %th
              .fa.fa-dollar-sign
              = sort_link(@q, :price)
            %th
              .text-warning.fa.fa-clock
              Rewiewed on
            %th
              .text-warning.fa.fa-star
              = sort_link(@q, :rating)
            %th
              .text-warning.fa.fa-comment
              = sort_link(@q, :updated_at)
            %th Progress
            %th
            %th
            %th

        %tbody
          - @enrollments.each do |enrollment|
            %tr
              %td= enrollment.id
              %td= link_to enrollment.user, user_path(enrollment.user)
              %td= enrollment.created_at.strftime("%d/%b/%Y - %H:%M")
              %td= link_to enrollment.course, course_path(enrollment.course)
              %td= number_to_currency(enrollment.price)
              %td
                - if  enrollment.rating.present?
                  = enrollment.updated_at.strftime("%d/%b/%Y - %H:%M")
              %td= enrollment.rating
              %td= enrollment.review
              %td= number_to_percentage(enrollment.course.progress(enrollment.user), precision: 0)
              %td= link_to 'See review', enrollment
              %td
                - if policy(enrollment).edit?
                  = link_to 'Add review', edit_enrollment_path(enrollment)
              %td
                - if policy(enrollment).destroy?
                  = link_to 'Delete', enrollment, method: :delete, data: { confirm: 'Are you sure?' }
      -#пагинация
      != pagy_bootstrap_nav(@pagy)
    %br
