-#Отображение названия статьи в заголовке страницы
- content_for :title do
  University
  \|
  New enrollment

.card
  .card-body
    %h3
      .fa.fa-graduation-cap
      = link_to @course.title, course_path(@course)
      %hr
      .fa.fa-lock-open
      Buy course:
      = number_to_currency(@course.price)

  .card-body
    - if @course.price > 0
      = form_tag course_enrollments_path(@course) do
        -#Платно
        %script.stripe-button{ "data-amount" => "#{(@course.price * 100).to_i}",
                              "data-description" => "#{@course.title} (#{number_to_currency @course.price})",
                              "data-email" => "#{current_user.email}",
                              "data-key" => "#{Rails.application.credentials[Rails.env.to_sym][:stripe][:publishable_key]}",
                              "data-locale" => "auto",
                              :src => "https://checkout.stripe.com/checkout.js"}
    - else
      / Бесплатно
      = form_tag course_enrollments_path(@course) do
        = submit_tag "Enroll for free", class: 'btn btn-lg btn-success'

  .card-footer
    = link_to 'Back', course_path(@course)
