-# frozen_string_literal: true
= simple_form_for([@course, @lesson]) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :title
    = f.rich_text_area :content
    -# = f.association :course
    -#при создании лекции нужно указать ID курса, берем или из params или из свойства лекции
    -#но в данном случае убираем, т.к. мы назначили все вручную в контроллере
    -# = f.input :course_id, input_html: {value: @lesson.course_id || params[:course_id]}, as: :hidden
  %p
  .form-actions
    = f.button :submit
