- if current_user
  -# - if policy(lesson).show?
  - if lesson.viewed(current_user)
    -#Просмотренно
    .text-success.far.fa-check-square
  -else
    -#Непросмотренно
    .text-danger.far.fa-check-square
  -# - else
    .fa.fa-lock
  = link_to course_lesson_path(@course, lesson) do
    %b
      #{lesson.row_order_rank + 1}.
    = lesson.title
- else
  .fa.fa-lock
    = link_to course_lesson_path(@course, lesson) do
      %b
        #{lesson.row_order_rank + 1}.
      = lesson.title



.float-right

  .fa.fa-comment
  = lesson.comments_count
  - if policy(lesson).edit?
    -#общее кол-во просмотров по данной лекции
    -#пробижаться по всем записям и проссумировать значения
    .fa.fa-eye
    Impressions:
    = lesson.user_lessons.map(&:impressions).sum
    -#количество Уникальных пользователей, просмотревших урок
    .fa.fa-eye
    Unique:
    = lesson.user_lessons.count
    = link_to 'Edit', edit_course_lesson_path(@course, lesson), class: 'btn btn-sm btn-outline-warning'
    = link_to 'Destroy', [@course, lesson], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-outline-danger'