-#Отображение названия статьи в заголовке страницы
- content_for :title do
  Universary
  \|
  = @course.title
  \/
  Edit
  = @lesson.title


/Хлебные крошки в заголовке карточки

= link_to 'Courses', courses_path
\/
= link_to @lesson.course.title, course_path(@lesson.course)
\/
= link_to @lesson.title, course_lesson_path(@course, @lesson)
\/
Edit
%p

.card
  .card-header
    %h3
      .far.fa.fa-check-square
      Editing lesson
  .card-body
    = render 'form'
  .card-footer
    = link_to 'Show', course_lessons_path(@course, @lesson)
    \|
    = link_to 'Back to course', course_path(@lesson.course)
