-#Отображение названия статьи в заголовке страницы
- content_for :title do
  Universary
  \|
  = @course.title
  \/
  New lesson

/Хлебные крошки в заголовке карточки

= link_to 'Courses', courses_path
\/
= link_to @course, course_path(@course)
\/
New
%p
.card
  .card-header
    %h3
      .far.fa.fa-check-square
      New lesson
  .card-body
    = render 'form'
  .card-footer
    = link_to 'Back to course', course_path(@course)
