-#Отображение названия статьи в заголовке страницы
- content_for :title do
  Universary
  \|
  = @course.title
  \/
  = @lesson.title

/Хлебные крошки в заголовке карточки

= link_to 'Courses', courses_path
\/
= link_to  course_path(@lesson.course) do
  .fa.fa-graduation-cap
  = @lesson.course.title
\/
= link_to  course_lesson_path(@course, @lesson) do
  .fa.fa-check-square
  = @lesson.title
%p
-#счетчик  просмотра лекции
-#Выбираем Лекцию, находим  ее запись с текущим пользователем и смотрим у нее счетчик
-# = @lesson.user_lessons.where(user: current_user).first.impressions


.row
  .col-lg-8
    = render 'lessons/lesson', lesson: @lesson
    %p
  / боковое меню с перечнем всех уроков
  .col-lg-4
    %ul.list-group
      -#Заголовок с ссылкой на сам курс
      %li.list-group-item
        = link_to  course_path(@lesson.course) do
          .fa.fa-graduation-cap
          = @lesson.course.title
        .row
        .fa.fa-spinner
        = number_to_percentage(@course.progress(current_user), precision: 0)
        -#перечень уроков
      - @lessons.each do |lesson|
        -#Для подсветки текущего урока. Проверяем если этот урок равен текущему, то подсвечиваем его
        - if lesson ==@lesson
          %li.list-group-item.list-group-item-success
            =  render "lessons/lesson_preview",  lesson: lesson
        - else
          %li.list-group-item
            =  render "lessons/lesson_preview",  lesson: lesson

-# = link_to 'Back to course', course_path(@lesson.course)
