-# frozen_string_literal: true
= simple_form_for(@course) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :title

    -#у курса есть прикрепленный файл = аватар, который будем хранить на S3 (прописанно в моделе))
    = f.label :avatar
    .row
    -#проверяем, есть ли аватар
    - if @course.avatar.attached?
      = image_tag @course.avatar, width:  "200px"
    .row
    = f.file_field :avatar
    .row
    = f.label :description
    = f.rich_text_area :description
    -#%small= f.error :description, class: 'text-danger'
    = f.input :short_description
    -#/ параметром collextion можно пересичлить необходимые наборы ( см. справку по gem simple-form)
    = f.input :language, collection: Course.languages
    = f.input :level, collection: Course.levels
    = f.input :price
    = f.input :published

  .form-actions
    = f.button :submit
