-# frozen_string_literal: true
= simple_form_for(@course) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :title
    = f.input :description, as: :rich_text_area
    -#%small= f.error :description, class: 'text-danger'
    = f.input :short_description
    -#/ параметром collextion можно пересичлить необходимые наборы ( см. справку по gem simple-form)
    = f.input :language, collection: Course.languages
    = f.input :level, collection: Course.levels
    = f.input :price

  .form-actions
    = f.button :submit
