-#Отображение названия статьи в заголовке страницы
- content_for :title do
  University
  \|
  Edit
  = @course.title

/Хлебные крошки в заголовке карточки

= link_to 'Courses/', courses_path
= link_to @course.title, course_path(@course)

.card
  .card-body
    %h3
      .fa.fa-graduation-cap
        Edit course
  .card-body
    = render 'form'

= link_to 'Show', @course
\|
= link_to 'Back', courses_path
