-#Отображение названия статьи в заголовке страницы
- content_for :title do
  University
  \|
  = @course.title

/Хлебные крошки в заголовке карточки

= link_to 'Courses/', courses_path
= link_to @course.title, course_path(@course)
%p
.row
  .col-lg-8.order-1.order-lg-1
    .jumbotron
      %h3
        .fa.fa-graduation-cap
        = @course.title
        -#.row
        -#проверяем, есть ли аватар
        -# - if @course.avatar.attached?
        -#  = image_tag @course.avatar, width:  "200px"
          -#.row
          -# = @course.avatar.filename
      .p-3
      .row
      .fa.fa-clock
        = @course.updated_at.strftime("%b/%Y")
      .row
      .fa.fa-globe-africa
        = @course.language
      .row
      .fa.fa-signal
        = @course.level
      .p-3
      = @course.description

    %h4
      .fa.fa-tasks
        = pluralize(@course.lessons_count, 'lesson')

      .float-right
        .fa.fa-spinner
        = number_to_percentage(@course.progress(current_user), precision: 0)
    -#.Добавили .lesson-sortable   - для обработки в JS ( сортировка )
    %ul.list-group.lesson-sortable
      - @lessons.each do |lesson|
        / #TODO  - непонятно что за строчка и что она передает. Нужна для Сортировки перестановкой и обработки в JS
        / должна обновлять порядок сортиовки
        / DIV создается с id = lesson_id. который мы ловим через params в контроллере экшн SORT
        = content_tag "div", id: "lesson-#{lesson.id}", data: { model_name: lesson.class.name.underscore, update_url: course_lesson_sort_path(@course, lesson)} do
          %li.list-group-item
            =  render "lessons/lesson_preview",  lesson: lesson

    %p
    %h4
      .fa.fa-comment
      = pluralize(@enrollments_with_reviews.count, 'review')

    - @enrollments_with_reviews.each do |enrollment|
      = render 'enrollments/enrollment', enrollment: enrollment
      %p
    %p
  .col-lg-4.order-0.order-lg-1
    .sticky-top
      = render 'courses/course', course: @course



